<header style="background-color: black; color: white; display: flex; justify-content: space-between; padding: 20px;">
    <nav>
        <a href="http://localhost:3000/" style="color: white; margin-right: 20px; text-decoration: none;">Home</a>
        <a href="https://github.com/faringet/user_verification" style="color: white; margin-right: 20px; text-decoration: none;">About</a>
        <a href="https://github.com/faringet" style="color: white; margin-right: 20px; text-decoration: none;">Contact</a>

    </nav>
</header>